/**
 * The main.css styles
 */

body {
    font-size: 12px;
    font-family: sans-serif;
    margin: 0 auto;
    background: #fefefe;
    height: 100vh;
    
}

.container{
    display: flex;
    justify-content: center;
}

#app {
    height: 600px;
    width: 300px;
    display: flex;
    position: relative;
    margin: 60px 30px 60px 30px;  
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 25%;
    padding: 3px;
    border: 1px solid darkgray;
}

.nav{
    border: none;
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 25px; 

}

h1{
    display: flex;
    justify-content: space-around;
}

img{
    width: 100%;
}

#info{
    display: flex;
    justify-content: center;
}

#buttons{
    display: flex;
    justify-content: center;
}

#buttons button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}




